name: build

on:
  push:
    branches: [ master ]
    # Run when container or environment is changed
    paths:
        - 'containers/dockerfile'
        - 'environment.yml'
  # Allows workflow to be manually triggered
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./containers/dockerfile
          push: true
          tags: cmelab/gixstapose:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
